*
{
    margin: 0px;
    padding: 0px;
}
body
{
    
   
    background-color: black;
}
.navbar{
    margin-bottom: 0px;
    }
    .navbar-inverse
    {
        background-color: black;
        color: white;
    }
    
    .navbar-inverse .navbar-nav>li>a
    {
        font-size: 14px;
        color: white;
    }
    .navbar-default .navbar-nav>li>a:hover {
      
        background-color: grey;
    }
    .navbar-brand {
        color: black;
    }
    .space2
    {
        max-width: 500px;
        margin: 0px auto;
        margin-bottom: 25px;
        text-align: center;

    }
    .space2 p
    {
        margin: 0px 0px 0px;
    }
    .formulaire
    {
        max-width: 800px;
        background-color: black;
        height: 400px;
        margin: 0px auto; 
        }
    .adjust
    {
        margin-top: 50px;
    }

    .adjust input
    {
        background-color: black;
        border: 1px black solid;
        height: 40px;
        background-color: rgb(20, 20, 20);
    }

    .adjust textarea
    {
        border-radius: 10px;
        height: 150px;
        border: 1px black solid;
        width: 99.5%;
        padding: 15px;
        background-color: rgb(20, 20, 20);
        
    }
    .btn2
     {
        font-family: 'inter', sans-serif;
        background-color: #27a776;
        font-size: 14px;
        color: white;
        border: 1px solid rgb(134, 177, 147);
        padding: 12px 40px;
        border-radius: 4px;
        margin-top: 25px;
        
     }
     footer {
        background-color: rgb(0, 0, 0);
        color: #fff;
        padding: 20px;
        text-align: center;
        font-size: 16px;
      }
      
      /* Name styles */
      .name {
        font-weight: bold;
      }